<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="ACOPIO.Properties.Settings.acopioConnectionString"
        connectionString="data source=D:\SISTEMAS\ACOPIO\ACOPIO\ACOPIO\bin\Debug\acopio.db"
        providerName="System.Data.SQLite.EF6" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
